@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.arrow{
    color: rgb(77, 215, 77);
}
.underl{

    & :hover{
        border-bottom: 2px solid red;
        
    }

}
@media (min-width: 100px) { 
    .sskill{
        color: white;
        border-radius: 25px;

    }
 }